<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <queries>
        <!-- Samsung Theme & Font Settings -->
        <package android:name="com.samsung.android.themestore" />
        <package android:name="com.android.settings" />
        <!-- Xiaomi MIUI / HyperOS Theme Manager -->
        <package android:name="com.android.thememanager" />
        <!-- Huawei Theme Manager -->
        <package android:name="com.huawei.android.thememanager" />
        <!-- Honor Theme Manager -->
        <package android:name="com.hihonor.android.thememanager" />
        <!-- Oppo / Realme / OnePlus Theme Store -->
        <package android:name="com.heytap.themestore" />
        <package android:name="com.nearme.themestore" />
        <!-- Vivo Theme Manager -->
        <package android:name="com.bbk.theme" />
        <!-- Transsion (Tecno/Infinix) HiTheme / XTheme -->
        <package android:name="com.transsion.magazineservice" />
        <package android:name="com.transsion.xos.launcher" />
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="content" />
        </intent>
        <intent>
            <action android:name="android.settings.DISPLAY_SETTINGS" />
        </intent>
    </queries>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
